 /*:root {

}Add root color variables*/
html, body {
    padding: 0;
    margin: 0;
}

.grid-container {
    display: grid;
    background-color:gray;
    grid-template-columns: repeat(3, 2fr 1fr 1fr);
    grid-gap: 0;
    width: 98vw;
    height: 100vh;
}

input, button {
    display: block;
}

.calc-container {
    background: rgb(155, 155, 255);
    padding: 10px;
    box-sizing: border-box;
    width: 35vw;
    font-family: 'Montserrat', sans-serif;
}

.calc-container > input, button {
    border: none;
    padding: 7px;
    margin: 5px;
}

.calc-container input {
    width: 11.1rem;
}

button {
    width: 12rem;
    height: 2em;
}

button:hover {
    cursor: pointer;
}

.make-container {
    background: rgb(255, 255, 155);
    padding: 10px;
    box-sizing: border-box;
    width: 30vw;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.res-container {
    background: rgb(255, 141, 141);
    padding: 5px;
    box-sizing: border-box;
    width: 33.82vw;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#add-water, #add-milk, #add-beans, #add-sugar, #add-cups, #brew, #sell {
    display: inline;
}